html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: url("wallpaper");
  height: 100%;
  width: 100%;
}

.box {
  display: block;
  font-family: 'Roboto';
  position: absolute;
  background: rgba(0,0,0,0.9);
  padding: 1em;
  border-radius: 8px;
  width: 50%;
}

.link-box {
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
}

.quote-box {
  transform: translate(-50%, -50%);
  top: 85%;
  left: 50%;
  color: #aab;
  text-align: center;
  font-style: italic;
}

h1 {
  color: #99736e;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 700px;
}

hr {
  border: 0;
  border-top: 1px solid #70838c;
  opacity: .4;
}

ul {
  display: block;
  margin: 0 auto;
}

li {
  color: #70838c;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.5;
  list-style: none;
  margin: 5px;
}

li.categ {
  color: #dd7358
}

a {
  color: #7c9fa6;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  color: #70838c;
}
